@model ArchitectureAspNetCoreEFMySQL.Core.Domain.Entities.Carro

@{
    ViewData["Title"] = "Excluir";
}

<h2>@ViewData["Title"]</h2>

<h3>Tem certeza que deseja excluir este carro?</h3>
<div>
    <h4>Carro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnoModelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnoFabricacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>
    </dl>
    
    <form asp-action="Excluir">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
